<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("sample_app"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("header.home"), root_path %></li>
        <li><%= link_to t("header.help"), help_path %></li>
        <% if logged_in? %>
          <li><%= link_to t("header.acount"), users_path %></li>
          <li><%= link_to t("header.setting"), edit_user_path(current_user) %></li>
          <li><%= link_to t("header.logout"), logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t("header.signup"), signup_path %></li>
          <li><%= link_to t("header.login"), login_path %></li>
        <% end %>
        <li><%= link_to t("eng"), locale: :en %></li>
        <li><%= link_to t("vie"), locale: :vi %></li>
      </ul>
    </nav>
  </div>
</header>
